// App
$color--window-background: var(--color-window-background);
$color--main-text-color: var(--color-main-text-color);
$color--white: var(--color-white);
$color--overlay: var(--color-overlay);
$color--skeleton: var(--color-skeleton);

// Heading
$color--heading-section: var(--color-heading-section);
$color--heading-page: var(--color-heading-page);
$color--heading-two-layered-black: var(--color-heading-two-layered-black);
$color--heading-two-layered-white: var(--color-heading-two-layered-white);

// Label
$color--label-primary: var(--color-label-primary);
$color--label-white: var(--color-label-white);
$color--label-black: var(--color-label-black);
$color--label-disabled: var(--color-label-disabled);

// Gradient
$color--primary-gradient-red: var(--color-primary-gradient-red);
$color--primary-gradient-orange: var(--color-primary-gradient-orange);
$color--primary-gradient-orange-secondary: var(
	--color-primary-gradient-orange-secondary
);

// Button
$color--button-disabled: var(--color-button-disabled);
$color--button-outline-border: var(--color-button-outline-border);
$color--button-outline-hover-background: var(
	--color-button-outline-hover-background
);
$color--button-nav-hover-background: var(--color-button-nav-hover-background);
$color--button-nav-background: var(--color-button-nav-background);

// Input
$color--input-background: var(--color-input-background);

// Table
$color--table-background: var(--color-table-background);
$color--tableheader-background: var(--color-tableheader-background);
$color--tableheader-hover-background: var(--color-tablerow-hover-background);
$color--tablecell-color: var(--color-tablecell-color);

// Menu
$color--menu-background: var(--color-menu-background);
$color--border-nav-button: var(--color-border-nav-button);
$color--user-avatar-background: var(--color-user-avatar-background);

// Login Form
$color--login-form-background: var(--color-login-form-background);
$color--sign-in-card-background: var(--color-sign-in-card-background);
$color--login-form-illustration-background: var(
	--color-login-form-illustration-background
);

// Pagination
$color--pagination-button-hover: var(--color-login-form-hover-background);
$color--pagination-button-active: var(--color-login-form-active-background);

// Apps
$color--app-card-background: var(--color-app-card-background);
$color--app-card-hover-background: var(--color-app-card-hover-background);
$color--app-card-icon-background: var(--color-app-card-icon-background);

// Stats
$color--border-dotted-separator: var(--color-border-dotted-separator);
