/* 1.333 - Perfect Fourth */
$font-size--1: 0.707rem;
$font-size--2: 1rem;
$font-size--3: 1.414rem;
$font-size--4: 1.999rem;
$font-size--5: 2.827rem;
$font-size--6: 3.998rem;
$font-size--7: 5.653rem;
$font-size--8: 7.993rem;
