.Theme--ColorPalette {
	// White
	--white: #fff;

	// Black
	--black: #000;

	// Gray (https://chakra-ui.com/docs/styled-system/theme)
	--gray-50: rgb(247, 250, 252);
	--gray-100: rgb(237, 242, 247);
	--gray-200: rgb(226, 232, 240);
	--gray-300: rgb(203, 213, 224);
	--gray-400: rgb(160, 174, 192);
	--gray-500: rgb(113, 128, 150);
	--gray-600: rgb(74, 85, 104);
	--gray-700: rgb(45, 55, 72);
	--gray-800: rgb(26, 32, 44);
	--gray-800-98: rgb(26, 32, 44, 98%);
	--gray-800-91: rgb(26, 32, 44, 91%);
	--gray-900: rgb(23, 25, 35);
	--gray-900-90: rgb(23, 25, 35, 90%);

	// Yellow (https://chakra-ui.com/docs/styled-system/theme)
	--yellow-50: #fffff0;
	--yellow-100: #fefcbf;
	--yellow-200: #faf089;
	--yellow-300: #f6e05e;
	--yellow-400: #ecc94b;
	--yellow-500: #d69e2e;

	// Orange (https://chakra-ui.com/docs/styled-system/theme)
	--orange-50: #fffaf0;
	--orange-100: #feebc8;
	--orange-200: #fbd38d;
	--orange-300: #f6ad55;
	--orange-400: #ed8936;
	--orange-500: #dd6b20;

	// Green (https://chakra-ui.com/docs/styled-system/theme)
	--green-50: #f0fff4;
	--green-100: #c6f6d5;
	--green-200: #9ae6b4;
	--green-300: #68d391;
	--green-400: #48bb78;
	--green-500: #38a169;
	--green-600: #2f855a;

	// Green (https://chakra-ui.com/docs/styled-system/theme)
	--blue-50: #90cdf4;
	--blue-100: #63b3ed;
	--blue-200: #4299e1;
	--blue-300: #3182ce;
	--blue-400: #2b6cb0;
	--blue-500: #2c5282;
	--blue-600: #2a4365;

	// primary
	--red-primary: var(--orange-400);
	--orange-primary: var(--yellow-500);
	--orange-secondary: var(--orange-200);
}
